/* Introduction to CSS Grid on Child Elements */

.container {
  margin: 20px;

  grid-gap: 1px;
}

.el1 {
  background-color: #ca8a04;
}
.el2 {
  background-color: #a3e635;
}
.el3 {
  background-color: #0284c7;
}
.el4 {
  background-color: #be123c;
}
.el5 {
  background-color: #a855f7;
}
.el6 {
  background-color: #0f766e;
}
