/* Introduction to CSS Grid on Child Elements */

.container {
  margin: 20px;

  grid-gap: 1px;
}

.el1 {
  background-color: #ca8a04;
}
.el2 {
  background-color: #a3e635;
}
.el3 {
  background-color: #0284c7;
}
.el4 {
  background-color: #be123c;
}
.el5 {
  background-color: #a855f7;
}
.el6 {
  background-color: #0f766e;
}

/* fr: (fraction) which represents a fraction of the available space in the grid container. */
/* grid-template-rows: auto -> on the size of the content of the items in the row. */
/* grid-area: 2 / 2 / 3 / 3: is shorthand for grid-row-start, grid-column-start, grid-row-end and grid-column-end.
First value -> grid-row-start/ second value -> grid-column-start/ Third value -> grid-row-end and Fourth value -> grid-column-end */
